* {
    margin: 0;
    padding: 0;

}

.father {
    width: 100%;
    height: 100px;
    background-color: #605e5e;
    justify-content: space-around;

}

nav {
    display: flex;

}

nav ul {
    display: flex;
    list-style: none;

}

nav li {
    margin: 20px 20px;
}

.banner {

    width: 100%;
    height: 100vh;
    background-image: url("../asset/image/background.jpg");
    

}