* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */

}

.father {
    width: 100%;
    height: 100px;
    background-color: #605e5e;
    justify-content: space-around;
    
    display: flex;

}
.logo {
    padding-top: 20px;
}

nav ul {
    display: flex;
    list-style: none;

}

nav li {
    margin: 20px 20px;
}

/* banner coloring and centaring */

.banner {

    width: 100%;
    height: 100vh;
    background-image: url("../asset/image/background.jpg");
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
    margin: 0 auto;
    color: white;

}

.Digital {
    color: rgb(230, 40, 40);
    font-weight: 900;
    font-size: 86px;
}

.discription {

    font-weight: 700;
    font-size: 86px;
    color: black;

}

/* width set kore margine auto korle centare ase */


.banner-p {

    color: black;
    font-size: 22px;
    padding: 10px;
    width: 50%;
    margin: auto;

}

 /* btns */

.Discover {

    padding: 20px 35px;
    border: 0;
    background-color: rgb(245, 44, 44); ;
    color: white;
    border-radius: 5px;
    margin: 20px;

}

.hire-me,
a {

    margin: 5px;
    color: rgb(0, 0, 0);
    padding: 20px 35px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.hire-me:hover {
    color: red;
}

/* this is another section */

/* this is service section */

.service-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 20px;
}

.button-prime {
    padding: 20px 35px;
    color: black;
    background-color: orangered;
    border: none;
    border-radius: 25px;
}

.taitle-services {

    font-size: 50px;

}

.red-color {


    color: red;
}

.service-discription {

    font-size: 20px;
    padding: 20px;
    width: 40%;
}

.author-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

.author {
    display: flex;
    width: 40%;
}

.author-details {
    display: flex;
    align-items: center;
    padding: 10px;
}

.btn-new {

    padding: 20px 35px;
    border: none;
    border-radius: 25px;
    background-color: orangered;

}
